doctype
html
    head
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
        link(rel="stylesheet" type="text/css" href="/css/style.css")
        title Voting App
    
    body
        include navbar.jade
        
        div(class='container')
            div(class='row')
                a(class='col-md-4 small-link' href='/create') Create
                div(class='col-md-4')
                a(class='col-md-4 small-link' href='/mypolls') My Polls
                
        h1 Click a poll to view and vote on it
                
        each poll in polls
            form(method="POST" action="poll/delete/" + poll._id)
                a(class="poll-link" href='poll/' + poll.id) #{poll.title}
                if mypolls
                    input(class='delete-button' class='btn btn-submit' type='submit' value='Delete Poll')
            br

        script(src='https://cdnjs.cloudflare.com/ajax/libs/react/15.3.0/react.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/react/15.3.0/react-dom.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js')
        script(src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
        script(src='/components.js', type='text/babel')